
/* ----------------------------------- SEPERATE PAGE ÜBER UNS */

.mainueber h2, h3, h4, p {
	padding: 0 0 1% 0;
}

.mainueber h3, h4 {
	color: var(--lightgrey);
}

.padding-about {
  padding: 3% 0;
  }

.jumbotron {
  margin: 0 !important;
}

.place {
  color: var(--blue) !important;
  margin: 1.5% auto !important;
  width: 50% !important;
  }

.place h1 {
  font-size: 3rem !important;
}

#portfolio h2, h4 {
	text-align: center;
}

#portfolio .thumbnail:hover {
	-webkit-box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	height: 100%;
	cursor: pointer;
}

#portfolio .thumbnail {
	padding: 5%;
}

#portfolio .port-title {
	max-width: 100%;
  height: auto;
}

#visionpic {
    background: url('/static/images/sh-digital-vision.jpg') no-repeat fixed center;
    display: table;
    position: relative;
    width: 100%;
    height: 40vw;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }

 .fa-battery-full,
 .fa-calendar-alt,
 .fa-chart-line,
 .fa-handshake,
 .fa-heart,
 .fa-certificate,
 .fa-pagelines {
 	font-size: 5vw;
 }

 #pricing .panel:hover {
	border: 10px solid var(--yellow);
}

.nurmonat {
	background-color: var(--blue);
	padding: 5%;
	color: var(--yellow);
	opacity: 0.8;
	font-size: 1.5rem !important;
	text-align: center;
	-webkit-box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
}

 .panel {
    border: 1px solid var(--blue); 
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
    height: 100%;

  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  
  .panel-heading {
    color: var(--white) !important;
    background-color: var(--blue) !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .panel-heading h2 {
  	color: var(--white);
  	font-size: 1.3rem !important;
  }

  .panel-body {
  	padding: 3% 6%;
  }

  .panel-body p {
  	font-size: 1rem !important;
  	font-weight: 600;
  	color: black;
  }

  .panel-footer {
  	padding: 3% 6%;
    background-color: white !important;

  }
  .panel-footer h3 {
    font-size: 1.3rem !important;
    color: var(--blue);
  }
  .panel-footer h4 {
    color: var(--lightgrey);
    font-size: 1.0rem !important;
    text-align: left !important;
  }

  .panel-footer small {
  	font-size: 0.9rem !important;
  }

  .panel-footer .btn {
    margin: 15px 0;
    background-color: var(--yellow);
    color: var(--blue);
  }

  .panel-footer .btn:hover {
    border: 1px solid var(--red);
    background-color: var(--red) !important;
    color: var(--white);
  }


/* ----------------------------------- Responsive 768px Mobile*/
@media (max-width: 768px){

  #ueberheader .jumbotron {
      color: var(--blue);
      padding: 4% 5%;
  }

    #ueberheader h1 {
    font-size: 1.9rem !important;
  }
    #ueberheader h3 {
      font-size: 1.5rem !important;
     }
}