@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
}

p {
	color: #23415C;
	font-size: 1.3rem !important;
	font-weight: 400;
}


.padding {
	padding: 65px 0;
}

.sidetext {
	margin-top: 3vw;
}

.sidetext h1, h2 {
	color: #23415C;
	font-size: 3rem;
	font-weight: 900;
}

.sidetext h3, h4, h5 {
	color: #23415C;
	font-size: 1.5rem;
	font-weight: 700;
}

.sidetext ul li {
	color: #23415C;
	font-size: 1.3rem !important;
	font-weight: 400;
}


/* ----------------------------------- Badge next to logo */
.badge-new {
	margin-left: 2%;
	font-size: 0.8rem;
}

/* ----------------------------------- Navigation START */
.navbar {
	padding: .8rem;
	-webkit-box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
}
.navbar-nav li {
	padding-right: 2.2rem;
}

.nav-link {
	font-size: 1.5em !important;
	color: white !important;
}


/* ----------------------------------- Navigation END */

#home {
	background: url('/static/images/mountains.jpeg') no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

#home .h1erfolg {
	font-size: 2.1rem !important;
	padding: 1%;
}

.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing-text h1 {
	font-size: 500%;
	font-weight: 700;
}

.landing-text h3 {
	padding: 2% 0 2% 0;

}

.padding img {
	width: 100%;
}

.shape {
	background: #23415C;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20vw), 0 100%);
	margin-bottom: -20vw;
	height: 100%;
	overflow: visible;
	z-index: 5;
}

#chefsache {
	position: relative;
	z-index: 5;
}

#chefsache img {
	width: 95%;
}

#digitalbox {
	background: white;
	padding: 2% 2% 0 2%; 
	border: 10px solid white;
	border-radius: 25px;
	-webkit-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
	-moz-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
	box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
}


/* ----------------------------------- Contact Form */
#contact-form {
	width: 100% !important;
	background-color: #23415C;
	height: 1050px;
}

.formcontainer {
	padding: 3.5% 0;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.controls {
	background-color: grey;
	width: 75%;
}

.formcontainer h3 {
	color: white;
	font-weight: 700;
}

.formcontainer p {
	color: white;
	padding: 1% 0;
	font-weight: 400;
}


.token {
	padding: 4%;
}

/* ----------------------------------- Contact Form End */


/* ----------------------------------- 3rd section */

.middlevideo {
	background-color: #23415C;
}

.middlevideo .embed-responsive {
	border: 10px solid white;
	border-radius: 5px;
	-webkit-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	margin: 0 auto 5% auto;
	width: 60%;
	
}

.belowvideo {
	position: relative;
	overflow: visible;
	z-index: 5;
	margin-bottom: 5vw;
}

.foto-container {
	height: 27vw;

}

.foto {
	margin: -3vw 0 0 0;
	border-radius: 20px;
	-webkit-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
}

.modal-header {
	padding: 3% !important;
	background-color: #23415C;
}

.modal-header h5 {
	color: #ffc107 !important;
}

.modal-body p {
	font-size: 1rem !important;
}

.modal-body ul li {
	font-size: 1rem !important;
	list-style-type: none;
	margin-left: -2%;
}

/* ----------------------------------- Blog Preview */

.card {
	width: 100%;
	height: 100%;
	-webkit-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
}

.card-text {
	font-size: 1.1rem !important;
}


.gradient {
	background-color: rgba(35,65,92,0.2);
	background-image:
	linear-gradient(45deg, 
		#ffffff 33%, 
		transparent 33%, 
		transparent 66%, 
		#ffffff 66%),

	linear-gradient(135deg, 
		#ffffff 33%, 
		transparent 33%, 
		transparent 66%, 
		#ffffff 66%)
	;
	background-size: 2.5rem 2.5rem;
}

.blogh2 {
	background-color: #23415C;
	color: white !important;
	text-align: center;
	padding: 1%;
}



/* ----------------------------------- Footer */

footer {
	width: 100%;
	background-color: #23415C;
	padding: 3%;
	color: white !important;
}

footer p {
	color: white !important;
}

footer h4 {
	color: white !important;
}

footer .box {
	padding: 3%;
	width: 28% !important;
	margin: 0 auto;
	-webkit-box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
}


/* ----------------------------------- Social Icons */

.social {
	margin: 5% 0 0 0;
}

.social a {
	font-size: 2rem;
	margin: 10% 10% 0 0;
}

.fa-facebook:hover {
	color: #3b5998;
}

.fa-google:hover {
	color: #4285f4;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-linkedin:hover {
	color: #007bb5;
}

.fa-youtube:hover {
	color: #bb0000;
}

.fa-facebook,
.fa-google,
.fa-twitter,
.fa-linkedin,
.fa-youtube {
	color: #d5d5d5;

}

/* ----------------------------------- Social Icons END */

/* ----------------------------------- Blog-header */

#blog-header {
	width: 100%;
	height: 70px;
	margin: 30px 0 30px 0;
}

#blog-header p {
	color: white !important;
	font-size: 1rem !important;
}

#blog-header ol {
	padding: 2% 1% 1% 1%;
}

#blog-header a {
	color: white;
}



/* ----------------------------------- 1024px Tablet*/
@media (max-width: 1024px){
	.container {
		padding: 2.5%;
	}

	p {
		font-size: 1.1rem !important;
	}

	.navbar-nav li {
	padding-right: 1.8rem;
	}

	.nav-link {
	font-size: 1.1rem !important;
	color: white !important;
	}

	.sidetext {
		padding: 0 10% 0 10%;
	}

	.sidetext h1, h2 {
		color: #23415C;
		font-size: 2.2rem;
		font-weight: 900;
	}

	.sidetext h3, h4, h5 {
		color: #23415C;
		font-size: 1rem;
		font-weight: 700;
	}

	.sidetext ul li {
		color: #23415C;
		font-size: 1.1rem !important;
		font-weight: 400;
	}
	
	.landing-text h1 {
		font-size: 300%;
	}

	#contact-form {
		height: auto;
	}

	.shape {
		margin-bottom: 0;
	}

	.shape {
		position: static;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		z-index: unset;
	}

	#bewertungen {
		width: 70%;
	}

	.middlevideo .embed-responsive {
		border: 5px solid white;
		width: 80%;
	}

	.belowvideo {
		position: static !important;
		z-index: 0 !important;
		margin-bottom: 0 !important;
	}

	.foto-container {
		height: auto !important;

	}

	.foto {
		display: block;
		margin: 0 auto 5px 12%;
		border-radius: 20px;
		
	}

	.card {
		width: 100%;
		height: 95%;
		margin: 0 auto 10% auto;
	}

	.blogh2 {
		background-color: #23415C;
		color: white !important;
		text-align: center;
		margin: 1.5% 0;
	}

	#blog .padding {
		padding: 0;
	}


	footer .box {
		padding: 2%;
		width: 30% !important;
		margin: 1.5%;
		}

	footer img {

	}

	footer p {
		font-size: 1rem !important;
	}

	.social a {
		font-size: 1.3em;
	}




/* ----------------------------------- 768px Mobile*/
@media (max-width: 768px){

	.container {
		padding: 2.5%;
	}

	p {
		font-size: 1.1rem !important;
	}

	.sidetext {
		padding: 0 10% 0 10%;
	}

	.sidetext h1, h2 {
		color: #23415C;
		font-size: 2.2rem;
		font-weight: 900;
	}

	.sidetext h3, h4, h5 {
		color: #23415C;
		font-size: 1rem;
		font-weight: 700;
	}

	.sidetext ul li {
		color: #23415C;
		font-size: 1.1rem !important;
		font-weight: 400;
	}
	
	.landing-text h1 {
		font-size: 300%;
	}

	#contact-form {
		height: auto;
	}

	.shape {
		margin-bottom: 0;
	}

	.shape {
		position: relative;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		z-index: unset;
	}

	#bewertungen {
		width: 70%;
	}

	.middlevideo .embed-responsive {
		border: 5px solid white;
		width: 100%;
	}

	.belowvideo {
		position: static !important;
		z-index: 0 !important;
		margin-bottom: 0 !important;
	}

	.foto-container {
		height: auto !important;

	}

	.foto {
		display: block;
		margin: 0 auto 5px auto;
		border-radius: 20px;
		-webkit-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
		-moz-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
		box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	}

	.card {
		width: 100%;
		height: 95%;
		margin: 0 auto 10% auto;
	}

	.blogh2 {
		background-color: #23415C;
		color: white !important;
		text-align: center;
		margin: 1.5% 0;
	}

	#blog .padding {
		padding: 0;
	}




/* ----------------------------------- Social Icons Mobile */

	footer .box {
		padding: 5%;
		width: 100% !important;
		margin: 3%;
		}

	.social a {
		font-size: 1.5em;
	}


