@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
}

p {
	font-size: 1em !important;
}

/* ----------------------------------- Badge next to logo */
.badge-new {
	margin-left: 2%;
	font-size: 0.8rem;
}

/* ----------------------------------- Navigation START */
.navbar {
	padding: .8rem;
}
.navbar-nav li {
	padding-right: 2.2rem;
}

.nav-link {
	font-size: 1.5em !important;
	color: white !important;
}


/* ----------------------------------- Navigation END */


#home {
	background: url('/static/images/mountains.jpeg') no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing-text h1 {
	font-size: 500%;
	font-weight: 700;
}

.landing-text h3 {
	padding: 2% 0 2% 0;

}

.padding {
	padding: 65px 0;
}

.padding img {
	width: 100%;
}

.shape {
	background: #23415C;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20vw), 0 100%);
	margin-bottom: -20vw;
	height: 100%;
	overflow: visible;
	z-index: 5;
}

#chefsache {
	position: relative;
	z-index: 5;
}

#chefsache img {
	width: 95%;
}

#digitalbox {
	background: white;
	padding: 2% 2% 0 2%; 
	border: 10px solid white;
	border-radius: 25px;
	-webkit-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
	-moz-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
	box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
}


/* ----------------------------------- Contact Form */
#contact-form {
	width: 100% !important;
	background-color: #23415C;
	height: 1050px;

}

.formcontainer {
	padding: 3.5% 0;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.controls {
	background-color: grey;
	width: 75%;
}

.formcontainer h2, h3, h4 {
	color: white;
	font-weight: 700;
}

.formcontainer h2 {
	font-weight: 900;
	font-size: 2.5rem;
	text-transform: uppercase;
}

.formcontainer p {
	color: white;
	padding: 1% 0;
	font-weight: 400;
}

.embed-responsive-item {
	border-radius: 5px;
	-webkit-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
}

.kleiner {
	padding-top: 2%;
}

.kleiner p {
	font-size: 0.9em !important;
	text-align: left;
}

.kleiner h2 {
	text-align: left;
}

.kontakt a {
	text-decoration: none!important;
	color: white;
}

/* ----------------------------------- Middle section */

.fa-chart-line, .fa-chart-pie, .fa-calculator {
	font-size: 20em;
	color: #23415C;
	margin-left: 20%;
}

/* ----------------------------------- Wie kann Software kostenlos sein */

#gradient {
	background-color: rgba(35,65,92,0.3);
	background-image:
	linear-gradient(45deg, 
		#ffffff 33%, 
		transparent 33%, 
		transparent 66%, 
		#ffffff 66%),

	linear-gradient(135deg, 
		#ffffff 33%, 
		transparent 33%, 
		transparent 66%, 
		#ffffff 66%)
}

#allinone {
	background-color: #23415C;
	color: white;
	padding: 3%;
	font-size: 1.2em !important;
}

/* ----------------------------------- Social Icons */

.social {
	padding: 2%;
}

.social a {
	font-size: 1.5em;
	padding: 1.5rem;
}

.fa-facebook:hover {
	color: #3b5998;
}

.fa-google:hover {
	color: #4285f4;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-linkedin:hover {
	color: #007bb5;
}

.fa-youtube:hover {
	color: #bb0000;
}

.fa-facebook,
.fa-google,
.fa-twitter,
.fa-linkedin,
.fa-youtube {
	color: #d5d5d5;

}

/* ----------------------------------- Social Icons END */

footer {
	width: 100%;
	background-color: #23415C;
	padding: 5%;
	color: white;
}


/* ----------------------------------- 900px */
@media (max-width: 900px){


	#contact-form {
		height: auto;
	}

	.shape {
		margin-bottom: 0;
	}

	.shape {
		position: relative;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		z-index: unset;
}

/* ----------------------------------- 768px */
@media (max-width: 768px){

	.social a {
		font-size: 2.5em;
		padding: 1.5rem;
}

	#contact-form {
		height: auto;
	}

	.shape {
		margin-bottom: 0;
	}

	.shape {
		position: relative;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		z-index: unset;
}

	.landing-text h1 {
		font-size: 300%;
	}

	.fa {
		font-size: 20px;
		padding: 10px;
	}

}


/* ----------------------------------- Blog-header */

#blog-header {
	width: 100%;
	height: 70px;
	margin: 30px 0 30px 0;
	color: white;
}

#blog-header ol {
	padding: 2% 1% 1% 1%;
}

#blog-header a {
	color: white;
}


