@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

/* ----------------------------------- Main CSS elements */
:root {
	--blue:	#23415c;
	--lightblue: #61dbfb;
	--white: #ffffff;
	--yellow: #ffc107;
	--grey: #f6f6f6;
	--lightgrey: #aaa;
	--darkergrey: #2d2d2d;
	--red: #e62739;
	--black: #000000;

}

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
}

p, ul li {
	color: var(--blue);
	font-size: 1.2rem !important;
	font-weight: 500 !important;
}

p {
	padding: 2%;
}

h1 {
	font-size: 4rem !important;
	font-weight: 900;
}

h2 {
	font-size: 2.3rem !important;
	font-weight: 800;
}

h3, h4 {
	font-size: 1.7rem !important;
	font-weight: 700;
}

h5 {
	font-size: 1.6rem !important;
	font-weight: 500 !important;
}

.padding {
	padding: 5% 0;
}

.padding img {
	width: 100%;
}

#meinBtn {
	display: none;
	position: fixed; 
	bottom: 30px; 
	right: 50px;
	z-index: 99; 
	border: none; 
	outline: none; 
	background-color: rgba(13, 24, 33, 0.45);
	color: var(--white);
	cursor: pointer; 
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(13, 24, 33, 0.45);
	font-size: 1.5rem;
	width: 3rem;
	line-height: 3rem;
}

#meinBtn:hover {
  	background-color: rgba(13, 24, 33, 0.75);
}

/* ----------------------------------- Navigation */
.navbar {
	padding: .8rem;
	-webkit-box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	background-color: var(--blue);
}
.navbar-nav li {
	padding-right: 2.2rem;
}

.nav-link {
	font-size: 1.3rem !important;
	color: var(--white) !important;
}


.badge-new {
	margin-left: 2%;
	font-size: 0.8rem;
}


/* ----------------------------------- Home bgimage and title */

#home {
	background: url('/static/images/webagentur-schweiz.gif') no-repeat center center fixed;
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	-o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    background-size: cover;

}


#coaching {
	background: url('/static/images/mountains.jpeg') no-repeat center center fixed;
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	-o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing-text h2 {
	color: var(--darkergrey);	
}

/* Home -------- */



.landing-home-text {
	margin: 8% 0 0 0;
}

.landing-home-text h1 {
	color: var(--white);
	-webkit-text-stroke: 2px var(--white);
	font-weight: 900;
}

.landing-home-text h2 {
	font-size: 1.4rem !important;
	color: var(--yellow);
}

.slider {
	margin: 15% 0 0;
	width: 50%
	margin: 0 auto;
}

.flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	padding: 5%;
}

.flex-item {
	flex: 50% 0 0;
	margin: 0 auto;
	
}

.slidertext {
	padding: 0 4%;
	-webkit-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
	-moz-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
	box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
}

.carousel-item img {
	max-width: 100%;
}

.carousel-item h2 {
	font-size: 1.8rem !important;
	color: var(--white);
	border-bottom: 0.1px solid var(--grey);
}

.carousel-item p {
	color: var(--white);
}


/* ----------------------------------- shape and contact */

#technologie {
	width: 100% !important;
	background-color: var(--blue);
	height: 2300px;
}

.formcontainer {
	padding: 2% 0;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.controls {
	background-color: var(--darkergrey);
	width: 75%;
}

.formcontainer img {
	opacity: 0.7;
}

.formcontainer p {
	color: var(--white);
}

.reviews {
	padding: 4%;
}

.shape {
	background: var(--blue);
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20vw), 0 100%);
	margin-bottom: -20vw;
	height: 100%;
	overflow: visible;
	z-index: 5;
}

.nurmonat {
	background-color: var(--blue);
	padding: 5%;
	color: var(--yellow);
	opacity: 0.8;
	font-size: 1.5rem !important;
	text-align: center;
	-webkit-box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
}

 .panel {
    border: 1px solid var(--white); 
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
    height: 100%;

  }
  .panel:hover {
    box-shadow: 5px 0px 40px var(--white);
  }
  
  .panel-heading {
    color: var(--white) !important;
    background-color: var(--solid) !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .panel-heading h2 {
  	color: var(--white);
  	font-size: 1.3rem !important;
  }

  .panel-body {
  	padding: 3% 6%;
  }

  .panel-body p {
  	font-size: 1rem !important;
  	font-weight: 600;
  	color: black;
  }

  .panel-footer {
  	padding: 3% 6%;

  }
  .panel-footer h3 {
    font-size: 1.3rem !important;
  }

  .white {
  	color: var(--white);
  }

  .panel-footer h4 {
    color: var(--lightgrey);
    font-size: 1.0rem !important;
    text-align: left !important;
  }

  .panel-footer small {
  	font-size: 0.9rem !important;
  }

  .panel-footer .btn {
    margin: 15px 0;
    color: var(--black);
  }

  .panel-footer .btn:hover {
    border: 3px solid var(--yellow);
    background-color: var(--blue);
    color: var(--white);
  }

/* ----------------------------------- Kundengewinnung */

#kundengewinn {
	position: relative;
	z-index: 5;
}

#kundengewinn p {
	font-size: 1.4rem !important;
}

#kundengewinn img {
	max-width: 100%;
	height: auto;
}

#digitalbox {
	background: var(--white);
	padding: 3%; 
	border: 20px solid var(--grey);
	border-radius: 40px;
	-webkit-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
	-moz-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
	box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
}

.bluetext h2 {
	color: var(--blue);
}

.bluetext h3, h4, h5 {
	color: var(--blue);
}

.bluetext ul li {
	color: var(--blue);
}


/* ----------------------------------- Bewertungen */

/* ----------------------------------- Video */
.middlevideo {
	background-color: var(--blue);
}

.middlevideo .embed-responsive {
	border: 12px solid var(--grey);
	border-radius: 5px;
	-webkit-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	margin: 0 auto 5% auto;
	width: 60%;
}


/* ----------------------------------- Chefsache / Bereit mit uns zu arbeiten */

.chefsache {
	position: relative;
	overflow: visible;
	z-index: 5;
	margin-bottom: 7vw;
}

.foto-container {
	margin-bottom: 3%;
}

.foto {
	max-width: 100%;
	height: auto;
	margin: -2vw 0 0 0;
	border-radius: 20px;
	-webkit-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
}

.modal-header {
	padding: 3% !important;
	background-color: var(--blue);
}

.modal-header h5 {
	color: var(--yellow) !important;
}


.modal-body ul li {
	list-style-type: none;
	margin-left: -2%;
	font-size: 1.1rem !important;
}

/* ----------------------------------- Blog Preview */

.card {
	width: 100%;
	height: 100%;
	-webkit-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
}

.card-text {
	font-size: 1.1rem !important;
}


.gradient {
	background-color: rgba(35,65,92,0.2);
	background-image:
	linear-gradient(45deg, 
		#ffffff 33%, 
		transparent 33%, 
		transparent 66%, 
		#ffffff 66%),

	linear-gradient(135deg, 
		#ffffff 33%, 
		transparent 33%, 
		transparent 66%, 
		#ffffff 66%)
	;
	background-size: 2.5rem 2.5rem;
}

.blogh2 {
	background-color: var(--blue);
	color: var(--white) !important;
	text-align: center;
	padding: 1%;
}


/* ----------------------------------- Footer */

footer {
	width: 100%;
	background-color: var(--blue);
	padding: 3%;
	color: var(--white) !important;
}

footer p {
	color: var(--white) !important;
}

footer h4 {
	color: var(--white) !important;
	text-align: left !important;
	text-decoration: underline;
}

footer .box {
	padding: 3%;
	width: 28% !important;
	margin: 0 auto;
	-webkit-box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
}

footer .box img {
	max-width: 100%;
	height: auto;
}

footer .nav a {
	font-size: 1.1rem !important;
	margin: 0 !important;
	padding: 0.4rem 0 !important;
}



footer .nav a:hover {
	text-decoration: underline;
}

footer a {
	color: white;
}

footer a:hover {
	color: white;
	text-decoration: underline;
}

/* ----------------------------------- Social Icons */

.social {
	margin: 5% 0 0 0;
}

.social a {
	font-size: 1.4rem;
	margin: 10% 5% 0 0;
}

.fa-facebook:hover {
	color: #3b5998;
}

.fa-google:hover {
	color: #4285f4;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-linkedin:hover {
	color: #007bb5;
}

.fa-youtube:hover {
	color: #bb0000;
}

.fa-facebook,
.fa-google,
.fa-twitter,
.fa-linkedin,
.fa-youtube {
	color: #d5d5d5;

}

/* ----------------------------------- Social Icons END */
