@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

/* ----------------------------------- Main CSS elements */
:root {
	--blue:	#23415c;
	--white: #ffffff;
	--yellow: #ffc107;
	--grey: #f6f6f6;
	--lightgrey: #aaa;
	--darkergrey: #A0A0A0;
}

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
}

p, ul li {
	color: var(--blue);
	font-size: 1.2rem !important;
	font-weight: 500 !important;
}

p {
	padding: 2%;
}

h1 {
	font-size: 4rem !important;
	font-weight: 900;
}

h2 {
	font-size: 2.3rem !important;
	font-weight: 800;
}

h3, h4 {
	font-size: 1.7rem !important;
	font-weight: 700;
}

h5 {
	font-size: 1.6rem !important;
	font-weight: 500 !important;
}

.padding {
	padding: 5% 0;
}

.padding img {
	width: 100%;
}

/* ----------------------------------- Navigation */
.navbar {
	padding: .8rem;
	-webkit-box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	background-color: var(--blue);
}
.navbar-nav li {
	padding-right: 2.2rem;
}

.nav-link {
	font-size: 1.5rem !important;
	color: var(--white) !important;
}


.badge-new {
	margin-left: 2%;
	font-size: 0.8rem;
}


/* ----------------------------------- Home bgimage and title */

#home {
	background: url('/static/images/mountains.jpeg') no-repeat center center fixed;
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	-o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing-text h2 {
	color: var(--darkergrey);
	
}

/* ----------------------------------- shape and contact */

#contact-form {
	width: 100% !important;
	background-color: var(--blue);
	height: 1050px;
}

.formcontainer {
	padding: 3.5% 0;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.controls {
	background-color: var(--darkergrey);
	width: 75%;
}

.formcontainer h2, h3 {
	color: var(--yellow);
}

.formcontainer p {
	color: var(--white);
}

.reviews {
	padding: 4%;
}

.shape {
	background: var(--blue);
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20vw), 0 100%);
	margin-bottom: -20vw;
	height: 100%;
	overflow: visible;
	z-index: 5;
}

/* ----------------------------------- Kundengewinnung */

#kundengewinn {
	position: relative;
	z-index: 5;
}

#kundengewinn p {
	font-size: 1.4rem !important;
}

#kundengewinn img {
	max-width: 100%;
	height: auto;
}

#digitalbox {
	background: var(--white);
	padding: 3%; 
	border: 20px solid var(--grey);
	border-radius: 40px;
	-webkit-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
	-moz-box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
	box-shadow: -4px 9px 30px -5px rgba(35,65,92,0.54);
}

.bluetext h2 {
	color: var(--blue);
}

.bluetext h3, h4, h5 {
	color: var(--blue);
}

.bluetext ul li {
	color: var(--blue);
}


/* ----------------------------------- Bewertungen */

/* ----------------------------------- Video */
.middlevideo {
	background-color: var(--blue);
}

.middlevideo .embed-responsive {
	border: 12px solid var(--grey);
	border-radius: 5px;
	-webkit-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	margin: 0 auto 5% auto;
	width: 60%;
}


/* ----------------------------------- Chefsache / Bereit mit uns zu arbeiten */

.chefsache {
	position: relative;
	overflow: visible;
	z-index: 5;
	margin-bottom: 7vw;
}

.foto-container {
	margin-bottom: 3%;
}

.foto {
	max-width: 100%;
	height: auto;
	margin: -2vw 0 0 0;
	border-radius: 20px;
	-webkit-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
}

.modal-header {
	padding: 3% !important;
	background-color: var(--blue);
}

.modal-header h5 {
	color: var(--yellow) !important;
}


.modal-body ul li {
	list-style-type: none;
	margin-left: -2%;
	font-size: 1.1rem !important;
}

/* ----------------------------------- Blog Preview */

.card {
	width: 100%;
	height: 100%;
	-webkit-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
}

.card-text {
	font-size: 1.1rem !important;
}


.gradient {
	background-color: rgba(35,65,92,0.2);
	background-image:
	linear-gradient(45deg, 
		#ffffff 33%, 
		transparent 33%, 
		transparent 66%, 
		#ffffff 66%),

	linear-gradient(135deg, 
		#ffffff 33%, 
		transparent 33%, 
		transparent 66%, 
		#ffffff 66%)
	;
	background-size: 2.5rem 2.5rem;
}

.blogh2 {
	background-color: var(--blue);
	color: var(--white) !important;
	text-align: center;
	padding: 1%;
}


/* ----------------------------------- Footer */

footer {
	width: 100%;
	background-color: var(--blue);
	padding: 3%;
	color: var(--white) !important;
}

footer p {
	color: var(--white) !important;
}

footer h4 {
	color: var(--white) !important;
	text-align: left !important;
	text-decoration: underline;
}

footer .box {
	padding: 3%;
	width: 28% !important;
	margin: 0 auto;
	-webkit-box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	-moz-box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
	box-shadow: -4px 7px 20px -3px rgba(0,0,0,0.74);
}

footer .box img {
	max-width: 100%;
	height: auto;
}

footer .nav a {
	font-size: 1.1rem !important;
	margin: 0 !important;
	padding: 0.4rem 0 !important;
}

footer .nav a:hover {
	text-decoration: underline;
}

/* ----------------------------------- Social Icons */

.social {
	margin: 5% 0 0 0;
}

.social a {
	font-size: 2rem;
	margin: 10% 10% 0 0;
}

.fa-facebook:hover {
	color: #3b5998;
}

.fa-google:hover {
	color: #4285f4;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-linkedin:hover {
	color: #007bb5;
}

.fa-youtube:hover {
	color: #bb0000;
}

.fa-facebook,
.fa-google,
.fa-twitter,
.fa-linkedin,
.fa-youtube {
	color: #d5d5d5;

}

/* ----------------------------------- Social Icons END */
