
/* ----------------------------------- Responsive 1024px Tablet*/
@media (max-width: 1024px){

/* ----------------------------------- Tablet Main CSS elements */


/* ----------------------------------- Tablet Navigation */

	.navbar-nav li {
		padding-right: 1.8rem;
	}

	.nav-link {
		font-size: 1.1rem !important;
	}

	.navbar .btn {
		font-size: 1rem;
	}


/* ----------------------------------- Tablet Home bgimage and title */


/* ----------------------------------- Tablet shape and contact */

	#contact-form {
		height: auto;
		padding: 2% 0;
	}

	.shape {
		margin-bottom: 0;
	}

	.shape {
		position: static;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		z-index: unset;
	}



/* ----------------------------------- Tablet Kundengewinnung */

#kundengewinn h2 {
	font-size: 2rem !important;
}

/* ----------------------------------- Tablet Bewertungen */
	
/* ----------------------------------- Tablet Video */

	.middlevideo .embed-responsive {
		border: 5px solid var(--white);
		width: 70%;
	}

	

/* ----------------------------------- Tablet Chefsache / Bereit mit uns zu arbeiten */

	.chefsache {
		position: static !important;
		z-index: 0 !important;
		margin-bottom: 0 !important;
	}

	.foto-container .btn {
		font-size: 1rem;
		margin: 1%;
	}

	.foto-container {
		margin: 3% 0;
}


/* ----------------------------------- Tablet Blog Preview */
	.card {
		width: 100%;
		height: 100%;
		margin: 0 auto 10% auto;
	}

	.blogh2 {
		background-color: var(--blue);
		color: var(--white) !important;
		text-align: center;
		margin: 1.5% 0;
	}

	#blog .padding {
		padding: 0;
	}

	.card h5 {
		font-size: 1.1rem !important;
		font-weight: 700 !important;
	}


/* ----------------------------------- Tablet Footer */
	footer .box {
		padding: 2%;
		width: 30% !important;
		margin: 1.5%;
		}

	.social a {
		font-size: 1.3em;
	}


/* ----------------------------------- Responsive 992px Tablet small*/
@media (max-width: 992px){
	
/* ----------------------------------- Tablet small Blog Preview */
	.cardbox {
		margin-bottom: 2%;
	}



/* ----------------------------------- Responsive 768px Mobile*/
@media (max-width: 768px){
/* ----------------------------------- Mobile Main CSS elements */

	.container {
		padding: 3%;
	}

	h1 {
	font-size: 2.5rem !important;
	font-weight: 900;
}

	h2 {
		font-size: 1.75rem !important;
		font-weight: 800;
	}

	h3, h4 {
		font-size: 1.4rem !important;
		font-weight: 700;
}

	h5 {
		font-size: 1.3rem !important;
		font-weight: 500 !important;
	}


	p {
		font-size: 1.1rem !important;
	}

/* ----------------------------------- Mobile Home bgimage and title */

	.landing-text .btn {
		font-size: 0.75rem !important;
	}

/* ----------------------------------- Mobile shape and contact */

	#contact-form {
		height: auto;
		padding: 1%;
	}

	.shape {
		margin-bottom: 0;
	}

	.shape {
		position: relative;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		z-index: unset;
	}

/* ----------------------------------- Mobile Kundengewinnung */

	
/* ----------------------------------- Mobile Bewertungen */
	#bewertungen {
		width: 95%;
	}

/* ----------------------------------- Mobile Video */
	.middlevideo .embed-responsive {
		border: none;
		border-radius: none;
		width: 100%;
	}

/* ----------------------------------- Mobile Chefsache / Bereit mit uns zu arbeiten */
	.chefsache {
		position: static !important;
		z-index: 0 !important;
		margin-bottom: 0 !important;
	}

	
	.foto {
		margin: 0 0 10% 0;
		border-radius: 20px;
		-webkit-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
		-moz-box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
		box-shadow: -4px 7px 43px -3px rgba(0,0,0,0.74);
	}


/* ----------------------------------- Mobile Blog Preview */
	.card {
		height: auto;
	}

	.blogh2 {
		background-color: var(--blue);
		color: var(--white) !important;
		text-align: center;
		margin: 1.5% 0;
	}

	#blog .padding {
		padding: 0;
	}

/* ----------------------------------- Mobile Footer */

	footer .box {
		padding: 5%;
		width: 100% !important;
		margin: 3%;
		}

	.social a {
		font-size: 1.5em;
	}


