{% load static %}

{% block content %}

<div class="container">
<div id = "blog-header">

	<nav aria-label="breadcrumb">
	  	
	  	<ol class="breadcrumb" style="background-color: #23415C;">
	  	<p><b>Online Kennzahlen: So überprüfen Sie den digitalen Erfolg Ihres Unternehmens</b></p>
	  	<li style="padding-left: 10%" class="breadcrumb-item"><a href="{% url 'index' %}#blog">Home</a></li>
	    <li class="breadcrumb-item active" aria-current="page"><a href="{{ request.path }}">{{ page_bc }}</a></li>
	    </ol> 

	</nav>

</div>
<div class="embed-responsive embed-responsive-21by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k0W-ly4o6BY" allowfullscreen></iframe>
</div>

</div>

{% endblock %}