{% extends 'base.html' %}
{% load static %}
{% block title %}Wer wir sind | SH Digital AG {% endblock %}
{% block meta_description %}Das ist die Meta Beschreibung SEO optimiert.{% endblock %}
{% block keywords %}Online Kennzahlen, Kundengewinnung, Online Marketing {% endblock %}

{% block content %}

{% include 'blog/blog-main.html' %}

    <div class="container sidetext">
    <div class="row">

        
    <!--<div class="col-sm-12">
    <h1>Wer wir sind - SH Digital</h1>
    <p>Sandro Huber war massgeblich am Aufbau eines Schweizer Startups im Jahre 2011 bis 2020 beteiligt, heute ist dieses Unternehmen zum renomierten KMU mit 15 Mitarbeitern und über 10 Mio. Umsatz herangewachsen. Nachdem Sandro Huber die Anteile an diesem Unternehmen verkaufte, gründete er ein Coaching für Kleinunternehmer und Selbständige. Ursprünglich hat Sandro Huber eine kaufmännische Grundausbildung im Finanzbereich absolviert und war mehrere Jahre als Unternehmensanalyst bei einer Vermögensverwaltung tätig. Ausserdem ist Sandro Huber Dipl. Betriebsökonom und ein ausgewiesener Digitalexperte für Online Marketing, Web development und Web Design. Sandro Huber hat in der knapp 10 jährigen Tätigkeit als Unternehmer sämtliche Methoden und Strategien bereits in der Praxis erprobt und kann dies nun bei Ihnen adaptieren.</p>

	<img class="img-responsive" src="{% static '/images/sandro-huber1.png' %}" title="Sandro Huber" alt="Sandro Huber 2">
	<br><br><br>
	<h2>Das schlagkräftige Team bringt auch Sie weiter!</h2>

	<p>Sandro Huber wird für das <a href="{% url 'index' %}" title="Coaching für Unternehmen">Coaching von Unternehmen</a> unterstützt von einem kleinen Team aus verschiedenen Fachgebieten mit der gemeinsamen Vision die Vermarktung und Positionierung der Kunden zu perfektionieren. Die Kunden sollen durch die Partnerschaft mehr Freiheiten im eigenen Unternehmen gewinnen und die monetäre Verwirklichung erreichen.</p>


	<p><span style="color:#e74c3c;"><b>Hinweis</b></span>: Wenn Sie schon viel Geld für einen externen SEO, SEM oder Facebook Ads Service ausgegeben haben und Sie nicht viel weiter sind - dies kann an der Positionierung oder an der User Experience auf Ihrer Webseite liegen.</p>

	<br> 
	<h3>Expertise von Sandro Huber</h3>
	<ul>
	<li> Content Management </li>
	<li> Webdesign </li>
	<li> Digital Ads / SEO </li>
	<li> Marketing / Design </li>
	<li> Finanzen / Projekte </li>
	<li> Strategisches Management </li>
	</ul>

	<br><br>
	<h3>Content Management</h3>
	<p>Das Verwalten von Webseiteninhalten und Produktbeschreibungen.</p>

	<img class="img-responsive" alt="Content Management: zu unserem Angebot" src="{% static '/images/content-management.jpg' %}" title="Content Management: zu unserem Angebot" style="width: 100%; height: auto" >

-->

	</div>
	
	</div>
	</div>

{% endblock %}