{% load static %}

<footer class="container-fluid">
	<div class="row">
		
		<div class="box">
			<a href="{% url 'index' %}"><img class="img-responsive" src="{% static 'images/logo.png' %}"></a>
			<br><br>
			<p>Wir sind ein Team aus Schweizer<br> Digital Business Experten.</p> 
		</div>

		<div class="box">
		<p>Diese Webseite wurde publiziert von:</p>
		<p>SH Digital ©  <script>document.write(new Date().getFullYear())</script></p>
		</div>

		<div class="box">
		<!--Social Icons -->
          {% include 'social-icons.html' %}
		</div>

	</div>

</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	
	<!-- Reviewsonmywebsite -->
	<script src="https://reviewsonmywebsite.com/js/v2/embed.js?id=6019c18b62403111b66e" type="text/javascript"></script>
  </body>
</html>