{% extends 'base.html' %}
{% load static %}
{% block title %}Digital durchstarten | SH Digital AG {% endblock %}
{% block meta_description %}Das ist die Meta Beschreibung SEO optimiert.{% endblock %}
{% block keywords %}Online Kennzahlen, Kundengewinnung, Online Marketing {% endblock %}

{% block content %}


    <!--SENDMAIL Start--> {% if message_surname %}
            <div id="home"><div class="landing-text"><p>Die Nachricht wurde gesendet! Zurück zur <a href="{% url 'index' %}">Webseite</a>.</p></div></div>
            {% else %}
    <!--SENDMAIL End-->

      <div id="home">
        <div class="landing-text">
          <h1>Digital erfolgreich</h1>
          <h1 class="text-secondary h1erfolg">für Unternehmer, Selbständige und Startups</h1>
          <a href="#contact-form" class="btn btn-warning btn-lg">Mehr erfahren</a>
        </div>
      </div>

   
       <!--CONTACT FORM Start-->
          <div id="contact-form" class="shape">
          <div class=" container formcontainer">

                <h3 class="text-warning">Jetzt kostenlos und unverbindlich das</h3><h2 class="text-warning">Wachstumspotential</h2><h3 class="text-warning">Ihres Unternehmens erfahren</h3>
                <p>Wir erstellen Ihnen innerhalb von 24 Stunden eine kostenlose Analyse des Potentials, welches Ihr Unternehmen bei der Online-Kundengewinnung abrufen könnte. Ein Grossteil der aktuellen Kunden sind Kleinunternehmer, welche ein sehr gutes Produkt oder Dienstleistung anbieten, jedoch erst 10 - 20% der potentiellen Kunden erreicht. <b class="text-warning">Können Sie noch 80% und mehr mit Ihrem Unternehmen wachsen? Erfahren Sie dies in den nächsten 24 Stunden völlig kostenlos.</b></p>
                   <div class="controls">                    
                   <form id="contact-form" method="POST" action="{% url 'index' %}">
                   {% csrf_token %}

                     

                      <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <input id="form_name" type="text" name="name" class="form-control" placeholder="Vorname" required="required" data-error="Firstname is required.">
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Nachname" required="required" data-error="Lastname is required.">
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <input id="form_email" type="email" name="email" class="form-control" placeholder="E-Mail" required="required" data-error="Valid email is required.">
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                             <input id="form_phone" type="text" name="url" class="form-control" placeholder="Webseiten URL (z.B. www.sh-digital.ch)">
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea id="form_message" name="message" class="form-control" placeholder="Bemerkungen (Branche, Produke, usw.)" required data-error="Bitte eine Eingabe vornehmen"></textarea>
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <input type="submit" class="btn btn-warning btn-lg btn-send" value="Anfrage senden">
                          </div>
                        </div>

                      
                 
                    </form>
                    </div>
              </div>
            
            </div>
         </div>
        <!--CONTACT FORM End-->       

        <!--erste Reihe -->
        <div class="container padding" id="chefsache">
      
        <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <img src="{% static '/images/pc-bildschirm.png' %}">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 sidetext" id="digitalbox">
          <h2>Kundengewinnung</h2>
          <p class="lead">Lernen Sie von einem <a href="#ueberuns">erfolgreichen Unternehmer</a> durch Eins-zu-eins Coaching wie Sie als Kleinunternehmer oder Selbständiger mit weniger als 5 Mitarbeitern digital durchstarten. Mehr als 50 Schweizer Kunden skalieren bereits erfolgreich mit unserer Dienstleistung.</p>
        </div>   

          </div>
          </div>

          <!--Bewertungen -->
          <div class="container padding" id="bewertungen">
          <div class="row">
          
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 token">
          <div data-romw-token="i8iU8EvQVNVZR64PHIwvIXiMR58kFcI1wMtJdNxi7DnEnWICPh"></div>
          </div>
          </div>
          </div>

           <!--ZwischenReihe Video -->
          <div class="middlevideo" id="kleinunternehmervideo">
          <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k0W-ly4o6BY?autoplay=1&mute=1" allowfullscreen allow="autoplay"></iframe>
          </div>
          </div> 
          

           <!--dritte Reihe -->
          <div class="belowvideo sidetext" id="3rdsection">
          <div class="container">
          <div class="row">

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Digital ist Chefsache</h2>
          <p>Wir bieten Ihnen ein 8 bis 12 Wochen dauerndes Kleinunternehmer Coaching. Der Preis dafür liegt zwischen CHF 5'000.-- bis CHF 15'000.-- (inkl. MwSt) je nach Kunden-Situation, Themenbereich und Branche. Lernen Sie wie Sie Ihr Unternehmen digital an die Spitze der Branche führen.</p>
          <ul class="ul-check success mr-5">
                <li>Eine 1:1 Begleitung zum Erreichen Ihrer Ziele</li>
                <li>Digitale Kundengewinnung: Erste Ergebnisse nach drei Monaten</li>
                <li>Ein wöchentliches Beratungsgespräch per Video Call</li>
          </ul>   

          </div>

          </div>
          </div>   
          </div>


        <!--vierte Reihe -->
        <div class="foto-container" id="ueberuns">
        <div class="container">
        <div class="row">
          
          
          <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">       
          <img class="img-responsive foto" src="{% static '/images/sandro-huber1.png' %}">
          </div> 

          <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 sidetext">       
           <h2>Bereit mit uns <br>zu arbeiten?</h2>
           <p>Meine Name ist Sandro Huber, ich habe selbst ein Schweizer Startup gegründet und nach 8 Jahren mit 15 Mitarbeitern und 10 Millionen Umsatz verkauft sowie vielen Kleinunternehmern, Selbständigen und Startups bei der digitalen Skalierung geholfen. Fragen Sie uns für eine kostenlose Analyse Ihres Unternehmens an.</p>
           <a href="#contact-form"><button type="button" class="btn btn-warning btn-lg">Kostenlose Analyse erhalten</button></a>
          
          <!--Modal -->
          <div class="modal fade" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
            </div>
          </div>
          </div>    
          <!--Modal End -->
          <button id="send-modal" type="button" class="btn btn-warning btn-lg">Termin vereinbaren</button>
          </div> 
          </div>
          </div>
          </div>
        

          <!--Blog -->
          <div class="padding sidetext gradient" id="blog">
          <div class="container">
            <h2 class="blogh2">Aktuelle Themen</h2>
          <div class="row padding">
             

            <!--Blog1 -->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <div class="card">
                    <img src="{% static '/images/online-kennzahlen.jpg' %}" class="card-img-top" alt="Online Kennzahlen">
                      <div class="card-body">
                        <h5 class="card-title">Online Kennzahlen</h5>
                        <p class="card-text">Diese drei Online Kennzahlen sind für Sie als Unternehmer und Ihre Webseite unverzichtbar. Wichtige Kennzahlen für das Online Marketing einfach erklärt.</p>
                        <a href="{% url 'online_kennzahlen' %}" class="btn btn-warning btn-sm">Zum Blog <br><b>Online Kennzahlen</b></a>
                      </div>
                    </div>
              </div>
            
            <!--Blog 2 -->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <div class="card">
                    <img src="{% static '/images/digital-marketing-strategien.jpg' %}" class="card-img-top" alt="Digital Marketing Strategien">
                      <div class="card-body">
                        <h5 class="card-title">Digital Marketing Strategien</h5>
                        <p class="card-text smalltext">Eine Dashboard Software für ein Basic Online Marketing kostenlos. Von Kunden für Kunden - Helfen Sie mit bei der Weiterentwicklung, wie es bereits andere vor Ihnen getan haben.</p>
                        <a href="{% url 'digital_marketing_strategien' %}" class="btn btn-warning btn-sm">Zum Blog <br><b>Digital Marketing Strategien</b></a>
                      </div>
                    </div>
              </div>

               <!--Blog 3 -->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <div class="card">
                    <img src="{% static '/images/wer-wir-sind.jpg' %}" class="card-img-top" alt="Sandro Huber">
                      <div class="card-body">
                        <h5 class="card-title">Wer wir sind - Gründer</h5>
                        <p class="card-text smalltext">Sandro Huber ist Gründer von SH Digital und Ihr persönlicher Kleinunternehmer Coach. Erfahren Sie mehr über den Background und den Werdegang.</p>
                        <a href="{% url 'wer_wir_sind' %}" class="btn btn-warning btn-sm">Zum Blog <br><b>Wer wir sind - Gründer</b></a>
                      </div>
                    </div>
              </div>



            </div>
            </div>
            </div>

          {% endif %}

{% endblock %}

    
