{% extends 'base.html' %}
{% load static %}
{% block title %}Digital durchstarten | SH Digital AG {% endblock %}
{% block meta_description %}Das ist die Meta Beschreibung SEO optimiert.{% endblock %}
{% block keywords %}Online Kennzahlen, Kundengewinnung, Online Marketing {% endblock %}

{% block content %}

    <!--SENDMAIL Start--> {% if message_surname %}
            <div id="home"><div class="landing-text"><p>{{ success_message }} Zurück zur <a href="{% url 'index' %}">Webseite</a>.</p></div>
            </div>
            {% else %}
    <!--SENDMAIL End-->

      <!--Webagentur-->
      <div id="home">    
        <div class="container">
        <div class="landing-home-text">
          <h1>Webagentur</h1>
          <div id="root"></div>
          <h2>Nachhaltig Kunden über die Webseite gewinnen</h2>
        </div>
      </div>

        <div class="container">
        <div class="slider">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000">
              
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="flex">
                  
                  <div class="flex-item slidertext">
                  <h2>Professionelle Webseiten <br>für jedes Budget</h2>
                  <p>Bei uns kriegen Sie eine professionelle Webseite für jedes Budget. Einfache Webseiten bereits ab CHF 500.--. Verwenden Sie den Preiskalkulator unten für die Berechnung eines Richtpreises für Ihr individuelles Projekt.</p><a href="{% url 'index' %}#pricing"><button type="button" class="btn btn-primary btn-md">Zu den Preisen</button></a>
                </div><!-- End Flex-Item -->
                  </div><!-- End Flex -->
                </div>
                <div class="carousel-item">
                  <div class="flex">
                    
                  <div class="flex-item slidertext">
                  <h2>Individuelle Web Designs</h2>
                  <p>Wir setzen Ihre individuellen Wünsche bezüglich Web Design für Sie um. Alles für Sie einzigartig ohne die Verwendung von Templates.</p>
                  <a href="{% url 'web_design' %}#pricing"><button type="button" class="btn btn-primary btn-md">Mehr über Webdesign</button></a>
                </div><!-- End Flex-Item -->
                  </div><!-- End Flex -->
                </div>
                <div class="carousel-item">
                <div class="flex">
                 
                  <div class="flex-item slidertext">
                  <h2>Gute Platzierung bei Suchmaschinen</h2>
                  <p>Die Webentwicklung und SEO-Betreuung aus einer Hand bietet entscheidende Vorteile. Bereits ab CHF 1000.-- gibt es bei uns eine monatliche SEO-Betreuung.</p>
                  <a href="{% url 'seo' %}"><button type="button" class="btn btn-primary btn-md">Mehr über SEO</button></a>
                </div><!-- End Flex-Item -->
                  </div><!-- End Flex -->
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div><!-- End Slider -->
      </div><!-- End Container -->
      
      </div>
      </div><!-- End Home -->

   
      <!-- Unsere Technologien END --> 
      <div id="technologie" class="shape">
        
        <div class="container formcontainer">
          <!-- Container (Pricing Section) -->
<div id="pricing" class="container padding">
  <div class="text-center">
    <h2>Webagentur Preise</h2>
    <br>
    <p>Bereits für ein kleines Budget kriegen Sie bei uns eine Webseite mit top moderner Technologie (siehe Beschrieb unten), wie Sie auch bei grossen Tech-Unternehmen eingesetzt wird. Dies verschafft Ihnen auch Vorteile, wenn Sie die Webseite einmal ausbauen wollen. Wir können jederzeit eine Webseite Small in eine komplexere Webseite Large erweitern.</p>
    <div class="row">
    <div class="col-sm-4 col-xs-12 price">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Webseite Small</h2>
        </div>
        <div class="panel-body">
          <p>Für Einzelunternehmen und Startups</p>
          <p>Bis zu 5 Unterseiten</p>
          <p>Persönliche Beratung</p>
          <p>Frontend: HTML, CSS, Javascript (gegen Aufpreis React), Backend: Python (Django)</p>
          <p>Inhalt mit unserem CMS jederzeit selbst anpassbar</p>
          <p>SEO optimiert</p>
        </div>
        <div class="panel-footer">
        <h3>ca. 14 Tage</h3>
          <h3 class="white"><strong>CHF 500.--<small>(inkl. MwSt)</small></strong></h3>
          <button class="btn btn-warning btn-md">Mehr Informationen</button>
        </div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12 price">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Webseite Medium</h2>
        </div>
        <div class="panel-body">
          <p>Für kleinere KMU</p>
          <p>Bis zu 10 Unterseiten</p>
          <p>Persönliche Beratung</p>
          <p>Frontend: HTML, CSS, Javascript (gegen Aufpreis React), Backend: Python (Django)</p>
          <p>Inhalt mit unserem CMS jederzeit selbst anpassbar</p>
          <p>SEO optimiert</p>
          <p>Seitenaufbau gemäss Suchintention</p>
        </div>
        <div class="panel-footer">
        <h3>ca. 14 Tage</h3>
          <h3 class="white"><strong>CHF 1'250.--<small>(inkl. MwSt)</small></strong></h3>
          <button class="btn btn-warning btn-md">Mehr Informationen</button>
        </div>
      </div>         
    </div>       
    <div class="col-sm-4 col-xs-12 price">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Webseite Large</h2>
        </div>
       <div class="panel-body">
          <p>Für grosse Ansprüche verschiedene Firmengrössen</p>
          <p>Preis je nach Unterseiten</p>
          <p>Komplexe Warenkorbsysteme</p>
          <p>Persönliche Beratung</p>
          <p>Frontend: HTML, CSS, Javascript oder React, Backend: Python (Django)</p>
          <p>Inhalt mit unserem CMS jederzeit selbst anpassbar</p>
          <p>SEO optimiert</p>
          <p>Seitenaufbau gemäss Suchintention</p>
        </div>
        <div class="panel-footer">
        <h3>ca. 14 Tage</h3>
          <h3 class="white"><strong>ab CHF 3'000.--<small>(inkl. MwSt)</small></strong></h3>
          <button class="btn btn-warning btn-md">Preiskalkulator</button>
        </div>
      </div>      
    </div>  

    </div> 
    <br>
    <p><small>Wenn Sie eine PHP Webseite wünschen, können wir auch mit <strong>Wordpress</strong> oder <strong>Opencart</strong> arbeiten.</p>     </small>
  <br><br>
  <p class ="nurmonat"><span class="badge badge-danger">Nur diesen Monat</span> Pauschal 10% Rabatt.<br> Gültig bis Ende {{ today }}</p>
  </div>
        </div>

          <div class="container formcontainer">
            <h2>Mit welchen Technologien wir arbeiten</h2>

            <img style="width:150px" src="{% static 'images/django-logo-negative.png' %}">
           
            <img style="width:200px" src="{% static 'images/python-logo.png' %}">
           

          
            <img style="width:200px" src="{% static 'images/512px-React-icon.svg.png' %}">
          

     
            <img style="width:200px" src="{% static 'images/html-css.png' %}">
            
            <br><br><br>

            <p>Neben den Standard Technologien wie HTML, CSS und Javascript verwenden wir folgende Webtechnologien:</p>
            <br>
            <h3>Was ist Django</h3>
            <p>Django ist ein High-Level Python Web Framework was schnelles und sauberes Entwickeln ermöglicht. Python hat sich als trendigste Programmiersprache im 2020 herausgestellt, dieser Trend setzt sich auch im 2021 fort. Django als Teil von Python wurde von erfahrenen Webentwicklern ins Leben gerufen und erledigt einen Großteil der Probleme bei der Webentwicklung, sodass der Entwickler sich auf das Konzipieren der Webseite oder App konzentieren kann, ohne das Rad neu erfinden zu müssen. Es ist kostenlos, Open Source und lächerlich schnell.</p>
             <br>
             <h3>Was ist React</h3>
             <p>React ist eine JavaScript Softwarebibliothek, welche sich sowohl für den Aufbau komplexer Anwendungen sowie für Single-Page-Webanwendungen eignet. React wurde 2011 von Facebook entwickelt und später im 2012 für Instagram eingesetzt. Bei moderner Webentwicklung im Frontend Bereich darf React nicht mehr fehlen.</p>

          </div>
        </div>
      </div><!-- Unsere Technologien END --> 

        <!--erste Reihe -->
        <div class="container" id="kundengewinn">
      
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img class="img-responsive" src="{% static '/images/pc-bildschirm.png' %}">
          </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bluetext" id="digitalbox">
            <h2>Bereits über 100 Kunden vertrauen auf uns</h2>
            <p>Wir sind eine junge Webagentur, die bereits einige interessante Projekte durchführen durfte. Nachfolgend finden Sie einige Kundenstimmen von Google my Business.</p>
        </div>   

          </div>
          </div>

          <!--Bewertungen -->
          <div class="container padding" id="bewertungen">
          <div class="row">
          
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reviews">
          <div data-romw-token="i8iU8EvQVNVZR64PHIwvIXiMR58kFcI1wMtJdNxi7DnEnWICPh"></div>
          </div>
          </div>
          </div>

           <!--ZwischenReihe Video -->
          <div class="middlevideo" id="kleinunternehmervideo">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k0W-ly4o6BY?autoplay=1&mute=1" allowfullscreen allow="autoplay"></iframe>
            </div>
          </div> 
          

           <!--dritte Reihe -->
          <div class="chefsache bluetext" id="chefsache">
            <div class="container">
              <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <h2>Digital ist Chefsache</h2>
                    <p>Bei uns bestimmen Sie die Struktur und die Inhalte Ihrer neuen Webseite selber. Wir gehen auf Ihre Bedürfnisse und Wünsche detalliert ein. Dies ist ein zentraler Punkt, welcher Kunden bei uns erwähnen, was Ihnen bei anderen Agenturen gefehlt hat. </p>
                    <ul class="ul-check success mr-5">
                    <li>Eine 1:1 Begleitung beim Entwicklen Ihrer Webseite. Die durschnittliche Dauer unserer bisherigen Projekte bei Small und Medium beträgt 2 Wochen.</li>
                    <li>Weiterführende Partnerschaft: Digitale Kundengewinnung & Erste Ergebnisse nach drei Monaten, wenn Sie von uns auch das Online Marketing machen lassen</li>
                    
                    </ul>   
                </div>
              </div>
            </div>   
          </div>


        <!--vierte Reihe -->
        <div class="foto-container" id="ueberuns">
          <div class="container">
            <div class="row">
          
          
              <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">       
                <img class="img-responsive foto" src="{% static '/images/sandro-huber1.jpg' %}">
              </div> 

              <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 bluetext">     
                <h2>Bereit mit uns <br>zu arbeiten?</h2>
                <p>Meine Name ist Sandro Huber, ich habe selbst ein Schweizer Startup gegründet und nach 8 Jahren mit 12 Mitarbeitern und fast 10 Millionen Umsatz verkauft. Die Webentwicklung und das Online Marketing haben bei diesem Erfolg eine zentrale Rolle eingenommen. Seither habe ich meine Leidenschaft als Dienstleister für viele Kleinunternehmer, Selbständige und Startups angeboten. Fragen Sie uns für eine <strong>kostenlose Beratung</strong> für die digitale Umsetzung Ihres eigenen <strong>Webseiten-Projekts</strong> an.</p>
          
              <!--Modal -->
              <div class="modal fade" tabindex="-1" role="dialog" id="modal">
                  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                    </div>
                  </div>
              </div>    
              <!--Modal End -->
              <button id="send-modal" type="button" class="btn btn-warning btn-lg">Termin vereinbaren</button>
                </div> 
              </div>
            </div>
          </div>
      

          {% endif %}

{% endblock %}