{% load static %}

<!-- Navbar -->
<header><nav class="navbar navbar-expand-lg navbar-light sticky-top" role="naviation">
<div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}"><img class="logo" width="60%" src="{% static 'images/logo.png' %}"><sup><span class="badge badge-secondary badge-new text-white">New</span></sup></a>
                
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">    
                <span class="navbar-toggler-icon"></span>
    </button>     

          <div class="collapse navbar-collapse" id="navbarResponsive">
           <ul class="navbar-nav ml-auto">
             

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Kompetenzen
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'web_design' %}">Web Design</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'web_entwicklung' %}">Web Entwicklung</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'seo' %}">Suchmaschinenoptimierung (SEO)</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'google_ads' %}">Google Ads (ehemalig Google Adwords)</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'facebook_ads' %}">Facebook Ads</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'coaching' %}">Digitales Coaching</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="{% url 'index' %}#projekte">Ergebnisse</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'ueber_uns' %}">Agentur</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'index' %}#kontakt">Kontakt</a></li>
              <a href="{% url 'index' %}#contact-form"><button type="button" class="btn btn-warning btn-lg">Jetzt loslegen</button></a>
          </ul>
          </div>
  </div>
</nav>
</header>
    
    <!-- Navbar END -->