{% extends 'base.html' %}
{% load static %}
{% block title %}Über uns | SH Digital AG {% endblock %}
{% block meta_description %}Das ist die Meta Beschreibung SEO optimiert.{% endblock %}
{% block keywords %}Online Kennzahlen, Kundengewinnung, Online Marketing {% endblock %}

{% block content %}

<div class="mainueber">
	<!-- Subscribe -->
	<div id="ueberheader">
       <div class="jumbotron">
        <div class="place">
	  <h1>Online Marketing der Zukunft</h1> 
	  <h3>Welche Rolle spielt die Suchmaschinenplatzierung, wenn der Sprachassistent die Inhalte des ersten Treffers nimmt und wiedergibt?</h3> 
	</div>
  </div>
	</div>

  <div id="visionpic">
    <p></p>
  </div>

   <!-- Container (About Section) -->
		<div class="container padding-about">
		  <div class="row">
		    <div class="col-sm-12 col-xs-12">
		      <h2>Über uns</h2><br>
		      <p>Die Geschichte beginnt bereits im Jahre 2014. Sandro Huber ist neben Inhaber eines Startups im Bereich Home Wellness digitaler Consultant für Kleinunternehmer und betreibt einige exklusive Mandate grösserer Schweiz Firmen im Bereich Business Development und Markenaufbau.</p>
		      <p>Was im 2014 als Einzelfirma begann, ist heute die SH Digital AG ein wachsendes Unternehmen im Bereich Unternehmensberatung und Digital Business. Die SH Digital AG hat vier Mitarbeiter und ist im Kanton Thurgau ansässig.
				  </p>
		      <br><a href="#pricing"><button class="btn btn-warning btn-lg">Unsere Preise</button></a>
		    </div>
		  </div>
		</div>
  

		<div class="container padding-about">
		   <div class="row">
		  <div id="vision" class="col-sm-12">
		      <h2>Unsere Werte</h2>
		      <p><strong>MISSION:</strong> Unser Unternehmen bietet Dienstleistungen für den erfolgreichen Aufbau, Entwicklung und die Strategie eines Unternehmens im digitalen Zeitalter von disruptiven Geschäftsmodellen, Künstlicher Intelligenz, usw. Insbesondere die Digitalisierung beeinflusst und verändert die Wirtschaft und ist aus der betriebswirtschaftlichen Praxis nicht mehr wegzudenken. </p><br>
		      <p><strong>VISION:</strong> “Bring web engeneering and digital business administration to every entrepreneur* in the world. Everybody is in the online marketing sector, but nobody cares about digital control of the company's management. SH Digital saw a future that had not yet existed, in which they delivered services that inspired and motivated entrepreneurs to change their mind and digital setup.</p>
		    </div>
				</div>
		  </div>


<!-- Container (Services Section) -->
	<div id="services" class="container text-center padding-about">
	  <h2>DAFÜR STEHEN WIR</h2>
	  <h4>Wie wir arbeiten</h4>
	  <br>
	  <div class="row slideanim">
	    <div class="col-sm-6">
	      <i class="fas fa-chart-line"></i>
	      <h4>POWER</h4>
	      <p>Unsere Power stammt von Unternehmern, die sich bereits bewiesen haben</p>
	    </div>
	    <div class="col-sm-6">
	      <i class="fas fa-heart"></i>
	      <h4>LIEBE</h4>
	      <p>Die Leidenschaft für unsere digitalen Dienstleistungen ist immens, jeder Kundenerfolg ist das oberste Ziel.</p>
	    </div>
	    <div class="col-sm-6">
	     <i class="fas fa-handshake"></i><h4>PARTNERSCHAFTEN</h4>
	      <p>Studieren Sie Digital Business bei einer FFHS Fernfachhochschule Schweiz, ein Partnerangebot von uns</p>
	    </div>
	    <div class="col-sm-6">
	      <i class="fab fa-pagelines"></i>
	      <h4>GRÜN</h4>
	      <p>Wir möchten nachhaltige Unternehmen fördern und verwenden selbst Server mit Klimakompensation wo dies möglich ist</p>
	    </div>
	    <div class="col-sm-6">
	      <i class="fas fa-certificate"></i>
	      <h4>BALD ZERTIFIZIERT</h4>
	      <p>Bekannte Zertifizierungen für unsere Dienstleistungen laufen. Wir setzen die Ansprüche an unsere Qualität hoch</p>
	    </div>
	    <div class="col-sm-6">
	      <i class="fas fa-battery-full"></i>
	      <h4>ACHTSAM</h4>
	      <p>Wir wollen achtsames Unternehmertum fördern. Die Mitarbeiter können dadurch mehr Leistung während den Arbeitszeiten abrufen.</p>
	    </div>
	</div>

<!-- Container (Portfolio Section) -->
<div class="container-fluid bg-grey">
<div id="portfolio" class="container padding">
  <h2>Portfolio</h2>
  <h4>Erfolgreiche Projekte</h4>
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="{% static '/images/gastrodichtungen.png' %}" alt="Gastrodichtungen Website überarbeiten" width="400" height="200">
        <p class ="port-title"><strong>Gastrodichtungen</strong></p>
        <p>Kleinunternehmer Coaching inkl. Website überarbeiten - Projektstart Herbst 2020</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="{% static '/images/arrigato.png' %}" alt="Arrigato Business Development" width="400" height="200">
        <p class ="port-title"><strong>Home Wellness Anbieter</strong></p>
        <p>Business Development inkl. Content Marketing und Webentwicklung - Projektstart Herbst 2014 Projektende Herbst 2020</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="{% static '/images/auto-informatik.png' %}" alt="San Francisco" width="400" height="200">
        <p class ="port-title"><strong>Auto Informatik</strong></p>
        <p>Kleinunternehmer Coaching inkl. Lead Generierung - Projektstart Herbst 2017</p>
      </div>
    </div>
  </div>
  </div>
 
  <!--Bewertungen -->
          <div class="container padding" id="bewertungen">
          <h2>Was unsere Kunden sagen</h2>
          <div class="row">
          
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 token">
          <div data-romw-token="i8iU8EvQVNVZR64PHIwvIXiMR58kFcI1wMtJdNxi7DnEnWICPh"></div>
          </div>
          </div>
          </div>
 </div>

<!-- Container (Pricing Section) -->
<div id="pricing" class="container padding">
  <div class="text-center">
    <h2>Preise</h2></div>
    <p>Unsere Preisgestaltung ist transparent und jedem potentiellen Kunden zugänglich. Wir sind ein hochpreisiger Anbieter, wenn Sie das Budget nicht aufbringen können oder möchten, bitte fragen Sie uns nicht an.</p>
  <div class="row">
    <div class="col-sm-4 col-xs-12 price">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Kleinunternehmer Coaching</h2>
        </div>
        <div class="panel-body">
          <p>Eine 1:1 Begleitung zum Erreichen Ihrer Ziele</p>
          <p>Digitale Kundengewinnung: Erste Ergebnisse nach drei Monaten</p>
          <p>Ein wöchentliches Beratungsgespräch per Video Call</p>
          <p>Digital Marketing Plan</p>
        </div>
        <div class="panel-footer">
        <h3>8 - 12 Wochen</h3>
          <h3><strong>CHF 5'000.-- bis CHF 15'000.-- <small>(inkl. MwSt)</small></strong></h3>
          <h4>je nach Kundensituation, Thema und Branche</h4>
          <button class="btn btn-lg">Buchen</button>
        </div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12 price">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Business Development</h2>
        </div>
        <div class="panel-body">
          <p>Marketing und Vertrieb optimieren</p>
          <p>Markenstrategie: Marken aufbauen, Marken nutzen</p>
          <p>Neue Geschäftsmodelle entwicklen</p>
          <p>Digitale Transformation Consulting</p>
          <p>Neue Technologien wie KI, IoT, usw.</p>
        </div>
        <div class="panel-footer">
        <h3>8 - 12 Wochen</h3>
          <h3><strong>ab CHF 30'000.-- <small>(inkl. MwSt)</small></strong></h3>
          <h4>je nach Kundensituation, Thema und Branche</h4>
          <button class="btn btn-lg">Buchen</button>
        </div>
      </div>         
    </div>       
    <div class="col-sm-4 col-xs-12 price">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Webseite überarbeiten</h2>
        </div>
        <div class="panel-body">
          <p>Webdesign neue UX / UI</p>
          <p>Webentwicklung</p>
          <p>Competitor research</p>
          <p>Content updates</p>
          <p>Content Audit</p>
          <p>Keyword Gap Analysis</p>
        </div>
        <div class="panel-footer">
        <h3>6 - 8 Wochen</h3>
          <h3><strong>CHF 2'500.-- bis CHF 5'000.--</strong> <small>(inkl. MwSt)</small></h3>
          <h4>je nach zusätzlichen Kundenwünschen</h4>
          <button class="btn btn-lg">Buchen</button>
        </div>
      </div>      
    </div>         
    </div>    
  <br><br>
  <p class ="nurmonat"><span class="badge badge-danger">Nur diesen Monat</span> Pauschal CHF 2'000.-- Rabatt.<br> Gültig bis Ende {{ today }}</p>
  </div>
</div>
</div>


{% endblock %}